body {
  text-align: center;
  color: white;
  background-color: black;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#counter {
  color: #D4AF37;
  font-size: 18rem;
  font-family: Tahoma, Geneva, sans-serif;
  letter-spacing: 0;
}

#button {
  width: 12rem;
  height: 12rem;
  border-radius: 6rem;

  border: none;
  outline: none;

  background-image: url('../assets/face.jpg');
  background-position: -1px 0px;
  box-shadow: 0 10px #D4AF37;
}

#button:active {
  box-shadow: 0 5px #D4AF37;
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
}
